body {
    background-color: #102fdb;
    font-family: Arial, sans-serif;
}

img {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    left: 120px; /* Moves all images to the right */
    top: 50px;  /* Moves all images down */
    margin-right: 20px; /* Adds space to the right of each image */
    margin-top: 20px;
    cursor: pointer;
}